## LaTeX: https://github.com/github/gitignore/blob/master/TeX.gitignore

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

## https://tex.stackexchange.com/q/215264/70789
.*.lb

## Pygments, minted code listings
build/_minted*

## Tikz generated images
img/*.pdf

## Text conversion temp files
text/*.tmp.tex
